body {
	/* Old colours */
	/* --bg-color: #000000; */
	/* --txt-color: #FFFFFF; */
	/* --highlight-color: #FF6600; */
	/* --alt-color: #B80C09; */
	--bg-color: #990d35;
	--txt-color: #fff8e8;
	--highlight-color: #d52941;
	--alt-color: #fcd581;

	--side-bar-width: 15%;
	--gap-size: 2%;

	background-color: var(--bg-color);
	color: var(--txt-color);
	margin: 0px;
	font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 1.2vw;
}

pre {
	color: var(--txt-color);
	font-family: "Open Sans", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 1.2vw;
}

a {
	color: var(--alt-color);
	font-weight: bold;
}

a:hover {
	color: var(--highlight-color);
}

u {
	text-underline-position: under;
}

b {
	color: var(--alt-color);
}

.document {
	height: 100%;
	width: 100%;
}

#page {
	width: calc(100% - var(--side-bar-width));
	margin-left: var(--side-bar-width);
}

.sideBar {
	width: var(--side-bar-width);
	margin: 0;
	padding: 0;
	top: 0;
	position: fixed;
	height: 100%;
	overflow: auto;
	z-index: 99;
	/* border-right: solid 5px var(--alt-color); */
}

.sideBar a {
	display: block;
	padding: 16px;
	text-decoration: underline;
	background-color: var(--highlight-color);
}

.sideBar a:hover {
	background-color: var(--alt-color);
	color: var(--highlight-color);
}

.sideBar p {
	padding: 16px;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
	border: 5px solid black;
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
	border: 1px solid var(--alt-color);
	border-top: none;
	border-bottom: none;
}

::-webkit-scrollbar-thumb {
	background: var(--alt-color);
}

#TitleBar {
	width: 100%;

	position: relative;
}

#TitleImage {
	width: 100%;

	vertical-align: top;
}

#Slider {
	width: 0px;
	height: 97%;

	background-color: var(--alt-color);

	z-index: -1;
	left: 20%;
	top: 2%;
	position: absolute;
	animation: slideIn 4s 1 0.5s ease-out forwards;
}

@keyframes slideIn {
	0% {
		width: 0%;
	}

	100% {
		width: 60%;
	}
}

#About-Section {
	width: 100%;
	height: 40vw;

	background-color: var(--highlight-color);

	text-align: center;
}

.particles {
	width: calc(100% - var(--side-bar-width));
	height: 40vw;

	position: absolute;
}

#About {
	width: 75%;
	height: 28vw;

	display: inline-block;

	background-color: rgba(20, 20, 20, 0.5);

	padding: 3%;
	margin: 3vw;
}

#About-Grid {
	height: 100%;
	display: inline-grid;
	position: relative;

	grid-template-columns: 5fr 2fr;
	grid-template-rows: auto auto auto; /* TODO: fix this */
	grid-template-areas: "title portrait" "about portrait" "buttons portrait";
	gap: var(--gap-size) 3%;
	place-items: stretch;
	place-content: stretch;
}

#About h1 {
	grid-area: "title";

	margin: 0px;
}

#About p {
	grid-area: about;

	text-align: left;
	margin: 0;
}

#portrait {
	width: 100%;

	grid-area: portrait;
	place-self: center;

	border-radius: 100%;
}

#Links {
	grid-area: buttons;
	align-self: center;
}

#Links button {
	background-color: var(--highlight-color);

	color: var(--alt-color);
	font-size: 2vw;

	border: none;
	border-radius: 20vw;

	margin: 0px var(--gap-size);
	padding: var(--gap-size);

	cursor: pointer;
	outline: 0;
}

#Links button:hover {
	background-color: var(--alt-color);

	color: var(--highlight-color);
}

#Links img {
	width: 1.5vw;
}

.content {
	width: 100%;

	background-color: inherit;
	padding-top: var(--gap-size);

	vertical-align: top;
	display: inline-block;
}

.contentItem {
	display: flex;

	justify-content: center;

	padding-top: var(--gap-size);
	padding-bottom: var(--gap-size);
}

.contentElement {
	width: 80%;

	background-color: var(--highlight-color);

	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto auto auto;
	grid-template-areas: "media title" "media blerb" "media tools";
	gap: var(--gap-size) 3%;
	place-items: stretch;
	place-content: stretch;

	border: 0.5vw solid var(--alt-color);

	padding: 3%;
}

.reverse {
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "title media" "blerb media " "tools media";
}

.landscape {
	grid-template-columns: 1fr 1fr;
}

.contentElement h1 {
	text-align: center;

	grid-area: title;

	margin: 0px;
}

.contentElement pre {
	grid-area: blerb;

	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.contentElement ul {
	grid-area: tools;
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;

	list-style-type: square;
}

.contentElement .media {
	grid-area: media;
	place-self: stretch;
	height: 100%;
	object-fit: contain;
}

.contentElement a:hover {
	background-color: var(--alt-color);
}
